* {
    margin: 0;
    border: border-box; 
    position: relative;
}

.banner {
    padding: 30px;
    background-color: #176cff;
    text-align: center;
    font-size: 30px;
    color:white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.301);
}

body {
    background-color: #f1f6fc; 
}

body > form {
    text-align: center;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 20px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
}

input {
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(94, 94, 94);
    outline: none;
    border-radius: 5px;
    color: #4d4d4d;
}

input:focus {
    background-color: rgb(221, 221, 221);
}

#add-btn {
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #176cff;
    border-radius: 5px;
}

#list-item {
    position: relative;
    justify-content: center;
    display: flex;
    padding: 10px;
    color: #176cff;
    font-size: larger;
    font-weight: bold;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    margin: .4em;
}

#plus-icon {
    color: white;
}

#complete-btn {
    background-color: rgb(34, 136, 34);
    color:antiquewhite;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    position: absolute;
    margin-right: 90%;
    margin-top: .2em;
}


#dlt-btn {
    background-color: rgb(245, 70, 70);
    color: aliceblue;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    position: absolute;
    margin-left: 90%;
    margin-top: .2em;
}
